@charset "utf-8";
/**
 * 功能：项目模版
 * 日期：
**/
*,*:before,*:after {
	box-sizing: border-box;
}
body,html {
	height: 100%;
	margin: 0;
	padding: 0;
}
header,footer {
	width: 100%; height: 50px;
	background-color: #9d0000;
	color: #fff;
}
main {
	height: calc(100% - 100px);
	padding: 12px;
	overflow-y: auto;
	box-sizing: border-box;
}
.p-2,.p-3 {
	height: 240px;
	border: 1px solid #b50000;
	position: relative;
}
.s2, .s3 {
	width: 100px; height: 50px;
	border: 1px solid #038d52;
	text-align: center;
	line-height: 50px;
	position: absolute;
	left: 120px; top: 160px;
}
.s3 {
	width: 200px; height: 120px;
	border: 10px solid #038d52;
	padding: 12px;
	line-height: normal;
	top: 50px;
}
/* 广告 */
aside {
	width: 320px; height: 320px;
	background: url("../img/ds-001.jpg") no-repeat;
	border: 10px solid rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 50%; top: 50%;
	/*margin-left: -170px;
	margin-top: -170px;*/
	/*transform: translate(-50%, -50%);*/
}






